/ConsoleApp/Properties/AssemblyInfo.jsl
/ConsoleApp/bin/Debug/ConsoleApp.exe
/ConsoleApp/bin/Debug/ConsoleApp.pdb
/ConsoleApp/bin/Debug/ConsoleApp.vshost.exe
/ConsoleApp/ConsoleApp.vjsproj
/ConsoleApp/obj/ConsoleApp.vjsproj.FileListAbsolute.txt
/ConsoleApp/obj/x86/Debug/ConsoleApp.exe
/ConsoleApp/obj/x86/Debug/ConsoleApp.pdb
/ConsoleApp.suo
